button {
  background-color: $button-bg-color;
  border: 0;
  color: $button-color;
  display: inline-block;
  font-size: $button-font-size;
  padding: 1.5rem 3.2rem;
  text-align: center;
  text-decoration: none;
}

